{% extends 'base.html' %}
	{% block title %}About{% endblock %}

	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item">About</li>
	{% endblock %}

	{% block content %}
		<br>
		
		<table class="table">
			<thead class="thead-inverse" style="background-color:grey; color:white;">
				<tr>
					<th>{{project.name}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{project.description}}
					<br><br>
					<p>Scripting Language  :&emsp;{{ project.scripting_language}}<br>Tools Used  :&emsp;{{ project.tools }}</p>
					</td>
				</tr>
			</tbody>
		</table><br>
		<p> <a href="{% url 'projects' %}"><-Back to projects list</a></p>
	{% endblock %}