{% load static %}<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Test Automation Dashboard{% endblock %}</title>
		<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/app.css' %}">
		{% block stylesheet %}{% endblock %}
		
		{% block scripts %}
		{% endblock %}

	</head>
	<body>
		{% block body %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="{% url 'home' %}">Test Automation Dashboard</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="mainMenu">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="#" style="color:lightgrey; position:right;">Welcome {{ user.first_name }}</a>
							</li>
						</ul>
					</div>
					<div class="mb-1">
						<a href="/admin/" class="btn btn-primary">Configure</a>
					</div>
				</div>
			</nav>
			
			<div class="container">
				<ol class="breadcrumb my-3">
					{% block breadcrumb %}
					{% endblock %}
				</ol>
				{% block content %}
				{% endblock %}
			</div>
		{% endblock body %}
	</body>
</html>
