<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}Console Output{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'jenkins_projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project_jobs' server.pk view_name %}">{{view_name}}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'job_config' server.pk view_name job_name %}">{{job_name}}</a></li>
		<li class="breadcrumb-item">#{{build_number}}</li>
	{% endblock %}
	
	
	{% block scripts %}
	{% endblock %}
	

	{% block content %}
		<br>
		<p> <a href="{% url 'job_config' server.pk view_name job_name %}"><- Back to build listings</a></p>
		<h3>Console Output</h3>		
		<hr>
		<br>
		<pre>{{output}}<pre>
	{% endblock %}