<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Detailed Report</title> 
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/app.css' %}">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<br>
		<div>
			<table style="width:100%">
				<tbody>
					<td style="width:19%; color:red">&emsp;&emsp;<b>Issues raised in this build iteration:</b>
					{% if not jira_issues_list %}
						<td style="width:71%">None</td>
					{% else %}
						<td style="width:71%">{% for issue_id in jira_issues_list %} <a href="https://jira.harman.com/jira/browse/{{issue_id}}">{{issue_id}}</a>, {% endfor %}</td>
					{% endif %}
					<td style="width:10%">
						<button type="submit" class="btn btn-warning" style="width:140px;font-size:15px;" data-toggle="modal" data-target="#myModal" name="jira_form" id="jira_form" onClick="myFunction()">Create JIRA issue</button>
					</td>
				</tbody>
			</table>
		</div>
	
		<div class="container" >
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog modal-lg">
			
					<div class="modal-content">
						<div class="modal-header">
							<p class="modal-title" style="font-size:19px">Create JIRA Issue</p>
							
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							</form>
						</div>
						<form id="jira_issue_form" action="{% url 'create_jira_issue' testcycle.testplan.project.pk testcycle.testplan.pk testcycle.pk %}" method="post">
							{% csrf_token %}
							<div class="modal-body">
								<br>
								<table style="width:100%">
									<tbody>
										<td style="width:60%"><b>Project :</b>&ensp;{{jira_project_name}}</td>
										<td style="width:40%"><b>Issuetype :</b>&ensp;<img src="{% static 'img/bug.png' %}" style="padding: 1px"/>Bug</td>
									</tbody>
								</table>
								<br><br>
								<table style="width:100%">
									<tbody>							
										<tr>
											<td style="width:16%">Summary <img src="{% static 'img/asterisk.png' %}"/></td>
											<td style="width:84%"><input style="width: 95%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" type="text" id="id_summary" name="summary" required/></td>
										</tr>
										<tr>
											<td><br></td>
											<td><br></td>
										</tr>
										<tr>
											<td style="width:16%">Priority </td>
											<td style="width:84%">
												<select name="priority" style="width: 95%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;">
													{% for priority in priority_list %}
														<option value="{{priority}}" {% if priority == "Major" %} selected {% endif %}>{{ priority }}</option>
													{% endfor %}
												</select>
											</td>										
										</tr>
										<tr>
											<td><br></td>
											<td><br></td>
										</tr>
										<tr>
											<td style="width:16%">Affects Version/s </td>
											<td style="width:84%">
												<select name="affected_versions" style="width: 95%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;">
													{% for version in available_affected_versions_list %}
														<option value="{{version}}" selected>{{ version }}</option>
													{% endfor %}
												</select>
											</td>										
										</tr>
										<tr>
											<td><br></td>
											<td><br></td>
										</tr>
										<tr>
											<td style="width:15%">Component/s </td>
											<td style="width:85%">
												<select name="components" style="width: 95%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" required>
													<option disabled selected value>-- Select an option --</option>
													{% for component in available_components_list %}
														<option value="{{component}}">{{ component }}</option>
													{% endfor %}
												</select>
											</td>										
										</tr>
										<tr>
											<td><br></td>
											<td><br></td>
										</tr>									
										<tr>
											<td style="width:15%">Description </td>
											<td style="width:85%">
											<textarea rows="8" style="width: 95%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" type="text" id="id_description" name="description">PreCondition:&#10;&#10;Steps:&#10;&#10;&#10;Expected Output:&#10;&#10;Actual Behavior:&#10;&#10;</textarea>
											</td>
										</tr>
										<tr>
											<td><br></td>
											<td><br></td>
										</tr>
									</tbody>
								</table>
							</div>
						
							<div class="modal-footer">
								{% if jira_project_name %}
									<button type="submit" class="btn btn-primary mr-auto" name="create_issue" id="create_issue" style="font-size:17px;">Create</button>
								{% else %}
									<button type="submit" class="btn btn-secondary mr-auto" disabled name="create_issue" id="create_issue" style="font-size:17px;">Create</button>
								{% endif %}
								<button type="button" class="btn btn-default" data-dismiss="modal" style="font-size:17px;">Close</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<br>
		<iframe id="report_iframe" src="{% static latest_report.detailed_report %}" seamless style="position:fixed; top:60px; bottom:0px; right:15px; width: 98%; border: none; margin:0; padding:0; overflow: auto; height: 91%;"></iframe>
	</body>

	<script>
		$('#myModal').on('hidden.bs.modal', function () {
			$(this).find('form').trigger('reset');
		});
	</script>
</html>
	

