{% extends 'base.html' %}
{% load static %}
	{% block breadcrumb %}
		<li class="breadcrumb-item">Home</li>
	{% endblock %}
	
	{% block content %}
		<div align="center">
			<br>
			<h3>Welcome to the Test Automation Dashboard!</h3>
			<br><br>
			<p style="font-size:110%;"> What would you like to do today?</p>
			<div class="mb-4">
				<a href="{% url 'jenkins_projects' %}" class="btn btn-primary" id="1">Run Automated Tests</a>&ensp;<a href="{% url 'projects' %}" class="btn btn-primary" id="2">View Reports</a>&ensp;<a href="{% url 'status' %}" class="btn btn-primary" id="3">View Automation Status</a>
			</div><br>
			<hr size="100">
		</div>
		<div align="center">
			<h3  style="color:#d55413;"><strong><u>Our Projects Portfolio</u></strong></h3><br>
			<div>
				<img src="{% static 'img/STUDER.png' %}"/>&emsp;&emsp;&emsp;&emsp;<img src="{% static 'img/MARTIN.png' %}"/>&emsp;&emsp;&emsp;&emsp;<img src="{% static 'img/PM.png' %}"/>&emsp;&emsp;&emsp;&emsp;<img src="{% static 'img/AMX.png' %}"/><br>
				<img src="{% static 'img/DIOS.png' %}"/>&emsp;&emsp;&emsp;&emsp;<img src="{% static 'img/AA.png' %}"/>&emsp;&emsp;&emsp;&emsp;<img src="{% static 'img/JBL.png' %}"/>
			</div>
		</div>
	{% endblock %}
