<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}Jenkins Servers{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item">Projects</li>
	{% endblock %}

	
	{% block scripts %}
	<script>
		var myVar;

		function myFunction() {
		myVar = setTimeout(showPage, 1000);
		}

		function showPage() {
		  document.getElementById("loader").style.display = "none";
		  document.getElementById("myDiv").style.display = "block";
		}
		
	</script>
	{% endblock %}
	

	{% block content %}
	<body onload="myFunction()" style="margin:0;">

		<div id="loader"></div>	
		<div style="display:none;" id="myDiv" >
			{% if servers %}
				<h4><u>Jenkins Servers:</u></h4><br>
				<div id="jenkins_serers" style="width:100%;">
					{% for server in servers %}
						{% if forloop.counter|divisibleby:2 %}
							<div style="float:left; width:46%;"
								<h5 style="font-size:16px;">
									<img src="{% static 'img/bullets.png' %}"/>&ensp;{{ server.url }}	-	[ {{ server.name }} ]
									{% if server.name in available_servers_name %} 
										&ensp;<img src="{% static 'img/correct.png' %}"/>
									{% else %}
										&ensp;<img src="{% static 'img/wrong.png' %}"/> 
									{% endif %}
								</h5>
							</div>
						{% else %}
							<div style="float:left; width:54%;"
								<h5 style="font-size:16px;">
									<img src="{% static 'img/bullets.png' %}"/>&ensp;{{ server.url }}	-	[ {{ server.name }} ]
									{% if server.name in available_servers_name %} 
										&ensp;<img src="{% static 'img/correct.png' %}"/>
									{% else %}
										&ensp;<img src="{% static 'img/wrong.png' %}"/> 
									{% endif %}
								</h5>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<br><br><br><hr><br>
				{% if available_servers_name %}
					<div id="projects_list">
						<p style="font-size:18px;width: 600px;"><b>Select a Project:</b></p></th>
						<form action="" method="get">
							<select name="projects_list" style="width:50%" onchange="this.form.submit();">
								<option disabled selected value>-- Select an option --</option>
								{% for server_attributes in all_available_servers_attributes %}
									{% for view in server_attributes.1 %}
										<option value="{{server_attributes.0.id}}{{view}}" {% if selected_view_name == view %}selected {% endif %}>{{ view }}</option>
									{% endfor %}
								{% endfor %}
							</select>
						</form>
						<br>
						{% if selected_server %}
							<p style="font-size:14px">Jenkins Master @ :&ensp;{{selected_server.url}}</p>
							<br>
						{% else %}
							<br><br><br>
						{% endif %}
					</div>
					<div id="nodes_list">
						<button class="accordion" style="width: 500px;">Nodes :</button>
						<div class="panel">
							{% if selected_server %}
								<table class="table">
									<tbody>
										<tr>
											<td style="width:800px;"><img src="{% static 'img/connected.png' %}"/>&emsp;master</td>
											<td style="width:300px;font-weight: bold;">&emsp;&emsp;ONLINE</td>
										</tr>
									{% for node, status in nodes.items %}
										{% if status.upper == "OFFLINE" %}
											<tr>
												<td><img src="{% static 'img/disconnected.png' %}"/>&emsp;<a href="{% url 'node_config' selected_server.pk node %}">{{node}}</a></td>
												<td style="color:#A8A8A8;font-weight: bold;">&emsp;&emsp;{{status.upper}}</td>
											</tr>
										{% else %}
											<tr>
												<td><img src="{% static 'img/connected.png' %}"/>&emsp;<a href="{% url 'node_config' selected_server.pk node %}">{{node}}</a></td>
												<td style="font-weight: bold;">&emsp;&emsp;{{status.upper}}</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								</table>
							{% else %}
								<p>Please select a project!</p>
							{% endif %}
						</div><br>
						{% if selected_server %}
							<h6 style="float:left"><a href="{% url 'nodes' selected_server.pk %}"> View All Nodes</a></h6>
							<a href = "{% url 'new_node' selected_server.pk %}"><button class="btn btn-primary" style="float:right;">Add Node</button></a>
						{% endif %}
					</div>
					<br><br>
					{% if selected_view_name %}
						<a href="{% url 'project_jobs' selected_server.pk selected_view_name %}" ><button class="btn btn-primary" style="width:90px;font-size:18px">Next</button></a>
					{% else %}
						<a href = "#"><button class="btn btn-secondary" disabled style="width:90px;font-size:18px">Next</button></a>
					{% endif %}
				{% endif %}
			{% else %}
				<br>
				<h4 style="color:Red;">No Jenkins servers are added.</h4>
				<br>
				<p><u>NOTE</u>:  Please ask the admin to add a Jenkins server.</p>
				<br>
			{% endif %}
			<br><br>
		</div>
	</body>
	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.maxHeight){
			  panel.style.maxHeight = null;
			} else {
			  panel.style.maxHeight = panel.scrollHeight + "px";
			} 
		  });
		}
	</script>
	{% endblock %}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	