<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}Job Config{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'jenkins_projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project_jobs' server.pk view_name %}">{{view_name}}</a></li>
		<li class="breadcrumb-item">{{job_name}}</li>
	{% endblock %}

	
	{% block scripts %}
		<script>
			window.setTimeout(function () {
				location.href = "{% url 'job_config' server.pk view_name job_name %}";
			}, 20000);
		</script>
	{% endblock %}
	

	{% block content %}
		
		<br>
		<div style="width:100%;">
			<div style="float:left;width:71%;">
				<h4>{{job_name|truncatewords:10}}</h4>
			</div>
			{% if is_job_buildable %}
				<div style="float:right;width:29%;">
					{% if not job_build_parameters %}
						<div style="float:right;width:50%;">
						<form method="post">
							{% csrf_token %}
							<button type="submit" class="btn btn-success" style="width:150px;font-size:18px;" name="execute">Execute job</button>
						</form>
						</div>
					{% else %}
						{% if job_build_parameters.0 == "NodeParameterDefinition" %}
							<form action="" method="post">
								{% csrf_token %}
								
								<select name="job_build_parameters_list" style="font-size:14px;border:1px solid; border-color:#ccc; padding: 5px;box-shadow: inset 0 1px 1px;border-radius: 3px;">
									{% for parameter in job_build_parameters.2 %}
										<option value="{{parameter}}">{{ parameter }}</option>
									{% endfor %}
								</select>
								&ensp;<button type="submit" class="btn btn-success" style="width:150px;font-size:17px;" name="executewithparameters">Execute job</button>
							</form>
						{% else %}
							<div style="float:right;width:70%;">
								<p>This job requires parameters:<a href="{{job_build_parameters.1}}" target="_blank"> Execute from Jenkins -></a></p>
							</div>
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
		</div>
		<br><br><hr>
		
		{% if not is_job_buildable %}
			<div style="width:100%">
				<div style="float:left;width:48%">
				</div>
				<div style="float:right;width:40%">
					<div style="float:left;width:70%;">
						<h5 style="font-size:18px; color:black;"><img src="{% static 'img/warning-2.png' %}"/>&ensp;<b>This job is currently disabled</b></h5>
					</div>
					<div style="float:left;width:30%;">
						<form method="post">
							{% csrf_token %}
							<button type="submit" class="btn btn-info" style="width:110px;font-size:15px" name="enable">Enable</button>
						</form>
					</div>
				</div>
			</div>
			<br><br>
		{% endif %}
		<h5><u>Description</u> :</h5>
		{% if description %}
			<pre style="font-size:15px;">{{description}}</pre>
		{% else %}
			<p style="font-size:15px;"> Not available!</p>
		{% endif %}
		<br><br>
		{% if all_builds_info %}
			<div style="width:100%;">
				<div style="float:left;width:48%">
					<table class="table">
						<thead class="thead-inverse" style="background-color:grey; color:white;line-height:13px;">
							<tr>
								<th style="width:1000px;font-size:15px;">	Health Report</th>
								<th style="width:180px;font-size:15px;">Score</th>
							</tr>
						</thead>
						<tbody style="background-color:#f2f2f2">
							{% for description, score in health_report.items %}
								<tr>
									<td style="font-size:15px;">{{description}}</td>
									<td style="font-size:15px;">{{score}}%</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<br><br><br>
					<table class="table" >
						<thead class="thead-inverse" style="background-color:grey; color:white;line-height:13px;">
							<tr>
								<th style="width:450px;font-size:15px;">	Statistics</th>
								<th style="width:150px;font-size:15px;"></th>
								<th style="width:600px;font-size:15px;"></th>
							</tr>
						</thead>
						<tbody style="width:100%; background-color:#f2f2f2">
							{% for build_info in job_statistics %}
								<tr>
									<td style="font-size:15px;">{{build_info.0}}</td>
									<td style="font-size:15px;">{% if build_info.1 != "N/A" %}<a href="{% url 'console_output' server.pk view_name job_name build_info.1 %}">{% endif %}#{{build_info.1}}</a></td>
									<td style="font-size:15px;">{{build_info.2}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div style="float:right;width:48%">
					<table class="table" style="line-height:12.5px;">
						<thead class="thead-inverse" style="background-color:grey; color:white;">
							<tr>
								<th style="width:550px;font-size:15px;"> History [Last 20]</th>
								<th style="width:870px;font-size:14px;"></th>
								<th style="width:140px;font-size:14px;"></th>
								<th style="width:25px"></th>
							</tr>
						</thead>
						<tbody style="background-color:#F2F2F2">
							{% if queued_builds %}
								{% for queued_build in queued_builds %}
									<tr>
										<td style="font-size:14px;">&emsp;&emsp;&emsp;#{{queued_build.0}}</td>
										<td style="font-size:14px;">( {{queued_build.1}} )</td>
										<td style="font-size:14px;"><p style="color:grey;font-weight: bold;">IN QUEUE</p></td>
										<form method="post">
											{% csrf_token %}
											<td><button type="submit" value="{{queued_build.2}}" name="cancelqueued"><img src="{% static 'img/cancel.png' %}"></button></td>
										</form>
									</tr>
								{% endfor %}
							{% endif %}
							{% for build_info in all_builds_info %}
								<tr>
									<td style="font-size:15px;">&emsp;&emsp;&emsp;<a href="{% url 'console_output' server.pk view_name job_name build_info.0 %}">#{{build_info.0}}</a></td>
									<td style="font-size:15px;">{{build_info.1}}</td>
									<td style="font-size:13px;">{% if build_info.2 == "RUNNING" %}<p class="blinking" style="color:blue;font-weight: bold;" >{{build_info.2}}</p> {% else %} <p {% if build_info.2 == "SUCCESS" %}  style="color:green;font-weight: bold;" {% elif build_info.2 == "ABORTED" %} style="color:#A8A8A8;font-weight: bold;" {% elif build_info.2 == "UNSTABLE" %} style="color:orange;font-weight: bold;" {% else %} style="color:red;font-weight: bold;" {% endif %}>{{build_info.2}}</p>{% endif %}</td>
									{% if build_info.2 == "RUNNING" %}
										<form method="post">
											{% csrf_token %}
											<td><button type="submit" name="cancelrunning"><img src="{% static 'img/cancel.png' %}"></button></td>
										</form>
									{% else %}
										<td></td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<h4 style="color:Red;">No statistics available as this job has not been run even once.</h4>
		{% endif %}
		<br><br><br>
	{% endblock %}