{% extends 'base.html' %}
	{% block title %}Add a New Test Plan{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project_testplans' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item">New Test Plan</li>
	{% endblock %}
	
	{% block content %}
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="id_name">Release Name</label>
				<input type="text" class="form-control" id="id_name" name="name" >
			</div>
			<div class="form-group">
				<label for="id_description">Description</label>
				<textarea class="form-control" id="id_description" name="description" rows="3" placeholder="Enter a brief description about this release. Example:  You can enter the details about 'New Features' added etc."></textarea>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	{% endblock %}