<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}New Node{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'jenkins_projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'nodes' server.pk %}">Nodes</a></li>
		<li class="breadcrumb-item">New Node</li>
	{% endblock %}

	
	{% block scripts %}
	{% endblock %}
	

	{% block content %}
	<br>
	<h3>Node Configurations</h3>
	<hr>

	<p style="font-size:16px;color:red"><u>Note</u>:&ensp;You are adding a node to Jenkins master @ {{server.url}}  -  [ {{server.name}} ]</p>
	<br>
	<p style="font-size:13px"> <img src="{% static 'img/asterisk.png' %}"/> Indicates required fields</p>
	<form method="post">
		{% csrf_token %}
		<table style="width:100%">
			<tbody>
				<tr>
					<td style="width:17%">Name <img src="{% static 'img/asterisk.png' %}"/></td>
					<td style="width:83%"><input style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" type="text" id="id_name" name="name" required/></td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td style="width:17%">Description </td>
					<td style="width:83%"><textarea rows="1" style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" type="text" id="id_description" name="description"></textarea></td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td style="width:17%"># of executors </td>
					<td style="width:83%">
						<select name="no_of_executors" style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;">
							{% for number in executors_countlist %}
								<option value="{{number}}" {% if number == 1 %} selected {% endif %}>{{ number }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td style="width:17%">Remote root directory <img src="{% static 'img/asterisk.png' %}"/></td>
					<td style="width:83%"><input style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" type="text" id="id_remoterd" name="remoterd" required/></td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td style="width:17%">Labels </td>
					<td style="width:83%"><input style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;" type="text" id="id_labels" name="labels"/></td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td style="width:17%">Usage </td>
					<td style="width:83%">
						<select name="usage_list" style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;">
							{% for usage in usages %}
								<option value="{{usage}}">{{ usage }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td><br></td>
					<td><br></td>
				</tr>
				<tr>
					<td style="width:17%">Launch method </td>
					<td style="width:83%">
						<select name="launch_method_list" style="width: 90%;font-size:14px;border:1px solid; border-color:#ccc;padding: 6px;box-shadow: inset 0 1px 1px;border-radius: 3px;">
							{% for launch_method in launch_methods %}
								<option value="{{launch_method}}" {% if launch_method != "Launch agent via Java Web Start" %} disabled {% else %} selected {% endif %}>{{ launch_method }}</option>
							{% endfor %}
						</select>
						<br>
						<small class="text-muted">Note: In order to use other "Launch method" options, add the node from Jenkins master!</small>
					</td>
				</tr>				
			</tbody>
		</table>
		<br><br>
	<button type="submit" class="btn btn-success" style="width:90px;font-size:18px">Submit</button>
	</form>
	<br><br><br><br><br><br>
	{% endblock %}