{% extends 'base.html' %}
	{% block title %}Add a New Test Cycle{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project_testplans' testplan.project.pk %}">{{ testplan.project.name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'testplan_testcycles' testplan.project.pk testplan.pk %}">{{ testplan.name }}</a></li>
		<li class="breadcrumb-item">Add Test Cycle</li>
	{% endblock %}
	
	{% block content %}
		<br>
		<p style="background-color:black; color:white;"><b>&ensp;Select Test Cycle(s) to add:</b></p>
		<form method="post">
			{% csrf_token %}
			<div class="form-group">
				{% for available_testcycle in testcycleslist %}
					{% if available_testcycle.name not in added_testcycles %}
						<input type="checkbox" id="mymultiselect" option value="{{available_testcycle.pk}}" name="mymultiselect">&ensp;{{available_testcycle.name}}</input><br>
					{% endif %}
				{% endfor %}
			</div>
			<button type="submit" class="btn btn-success">Add</button>
		</form>
		<br><br>
		<p><u>NOTE</u> :&emsp;Contact the admin if the test cycle you want to add is not present in the above list.<p>
	{% endblock %}
	
