<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}Nodes{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'jenkins_projects' %}">Projects</a></li>
		<li class="breadcrumb-item">Nodes</li>
	{% endblock %}

	
	{% block scripts %}
	{% endblock %}
	

	{% block content %}
		<br>
		<div style="width:100%">
			<div style="width:14%; float:left;">
				<h2>All Nodes </h2>
			</div>
			<div style="width:76%; float:left; padding:6px; font-size:19px">
				<p>@&ensp;[ {{server.name}} - ({{server.url}}) ]</p>
			</div>
			<div style="width:10%; float:left;">
				<a href = "{% url 'new_node' server.pk %}"><button class="btn btn-primary">Add Node</button></a>
			</div>
		</div>
		<br><br><br>
		<table class="table" >
			<thead class="thead-inverse" style="background-color:grey; color:white;">
				<tr>
					<th style="width:270px;">&ensp;&emsp;&emsp;&emsp;Name</th>
					<th style="width:320px;">Architecture</th>
					<th style="width:140px;">Status</th>
					<th style="width:130px;">Response Time</th>
				</tr>
			</thead>
			<tbody style="width:100%;">
				<tr>
					<td><img src="{% static 'img/connected-2.png' %}"/>&ensp;&emsp;master</a></td>
					<td></td>
					<td style="font-weight: bold;color:green;">ONLINE</td>
					<td>0 ms</td>
				</tr>
				{% for node_info in nodes_info %}
					{% if node_info.2.upper == "OFFLINE" %}
						<tr>
							<td><img src="{% static 'img/disconnected-2.png' %}"/>&ensp;&emsp;<a href="{% url 'node_config' server.pk node_info.0 %}">{{node_info.0}}</a></td>
							<td>{{node_info.1}}</td>
							<td style="color:#A8A8A8;font-weight: bold;">{{node_info.2.upper}}</td>
							<td>{{node_info.3}}</td>
						</tr>
					{% else %}
						<tr>
							<td><img src="{% static 'img/connected-2.png' %}"/>&ensp;&emsp;<a href="{% url 'node_config' server.pk node_info.0 %}">{{node_info.0}}</a></td>
							<td>{{node_info.1}}</td>
							<td style="font-weight: bold;color:green;">{{node_info.2.upper}}</td>
							<td>{{node_info.3}} ms</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		
	{% endblock %}	