<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}Agent {{node_name}}{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'jenkins_projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'nodes' server.pk %}">Nodes</a></li>
		<li class="breadcrumb-item">{{node_name}}</li>
	{% endblock %}

	
	{% block scripts %}
	{% endblock %}
	

	{% block content %}
		<br>
		<div style="width:100%">
			<div style="float:left; width:35%">
				<h3>{% if node_status.upper == "OFFLINE" %}<img src="{% static 'img/disconnected-agent.png' %}"/>{% else %}<img src="{% static 'img/connected-agent.png' %}"/>{% endif %}&emsp;Agent   {{node_name}}</h3>
				
			</div>
			<div style="float:left; width:53%">
				<h5 style="padding:8px;">{% if description %}( {{description}} ){% endif %}</h5>
			</div>
			<div style="float:left; width:12%">
				<h3{% if node_status.upper == "OFFLINE" %} style="padding:3px; color:red" {% else %} style="color:seagreen" {% endif %}>{{node_status.upper}}</h3>
			</div>
		</div>
		<br><br>
		<hr><br>
		
		{% if node_status.upper == "OFFLINE" %}
			{% if offline_reason %}
				<h5 style="font-size:18px;font-weight:bold">Offline reason:</h5>
				<pre>{{offline_reason}}</pre>
				<br>
			{% endif %}
			<p style="font-size:18px;font-weight:bold">Connect agent to Jenkins using the below method:</p>
			<ul>
				<!---<li> <a href="{% static 'img/slave-agent.jnlp' %}" download><img src="{% static 'img/launch.png' %}"/></a>&ensp;Launch agent from browser </li><br>
				<form method="post">
					{% csrf_token %}
					<li> <button type="submit" style="width:90px;height:28px; padding:0px" name="launch"><img src="{% static 'img/launch.png' %}"/></button>&ensp;Launch agent</li><br>
				</form> --->
				<li> Run the below command from agent command line: <p style="color:blue;"> &emsp;&emsp;<i>javaws {{server_url}}/computer/{{node_name}}/slave-agent.jnlp</i> </p></li><br>
			</ul>
			<h6 style="color:grey"><u>Note</u>: You should have JAVA installed on Agent in order to connect to Jenkins master.</h6>
			<h6 style="color:grey">&emsp;&emsp;&ensp; If you get an error on running the above command, then you probabaly don't have JAVA installed on Agent! <a href="https://java.com/en/download/" target="_blank">Download here</a></h6>
		{% else %}
			{% if jnlp_agent_status %}
				<p style="font-size:18px;">Connected via JNLP agent.</p>
			{% endif %}
		{% endif %}
		{% if labels %}
			<p style="font-size:17px"><b>Labels:</b> &ensp;{% for label in labels %}{{label}}&emsp;{% endfor %}</p>
		{% endif %}
		<br><br>
		<form method="post" onsubmit="return confirm('Are you sure you want to delete the agent?');">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger" style="width:120px;font-size:16px;" name="delete">Delete Agent</button>
		</form>
	{% endblock %}	