<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

	{% block title %}Jobs{% endblock %}
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'jenkins_projects' %}">Projects</a></li>
		<li class="breadcrumb-item">{{view_name}}</li>
	{% endblock %}

	
	{% block scripts %}
	<script>
		var myVar;

		function myFunction() {
		myVar = setTimeout(showPage, 1000);
		}

		function showPage() {
		  document.getElementById("loader").style.display = "none";
		  document.getElementById("myDiv").style.display = "block";
		}
		
	</script>
	{% endblock %}
	

	{% block content %}
	<body onload="myFunction()" style="margin:0;">

		<div id="loader"></div>	

		<div style="display:none;" id="myDiv" >
			<br>
			<h3>{{view_name}}</h3><br>
			<table class="table">
				<thead class="thead-inverse" style="background-color:grey; color:white;">
					<tr>
						<th style="width:600px">	Job Name</th>
						<th style="width:180px">Last build</th>
						<th style="width:400px">Last Run</th>
						<th style="width:150px">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for job_info in jobs_info %}
						<tr>
							<td><a href="{% url 'job_config' server.pk view_name job_info.0 %}">{{job_info.0}}</a></td>
							<td>{% if job_info.1 == "N/A" %}<p style="font-size:14px;"> {% else %} <a href="{% url 'console_output' server.pk view_name job_info.0 job_info.1 %}"> {% endif %} #{{job_info.1}}</a></p></td>
							<td><p {% if job_info.2 == "N/A" %} style="font-size:14px;" {% endif %}>{{job_info.2}}</p></td>
							<td>{% if job_info.3 == "RUNNING" %}<p class="blinking" style="color:blue;font-weight: bold;" >{{job_info.3}}</p> {% else %} <p {% if job_info.3 == "SUCCESS" %}  style="color:green;font-weight: bold;" {% elif job_info.3 == "ABORTED" %} style="color:#A8A8A8;font-weight: bold;" {% elif job_info.3 == "UNSTABLE" %} style="color:orange;font-weight: bold;" {% elif job_info.3 == "N/A" %} style="font-size:14px;color:black;" {% else %} style="color:red;font-weight: bold;" {% endif %}>{{job_info.3}}</p>{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table><br>
		</div>
	</body>
	{% endblock %}