{% extends 'base.html' %}
	
	{% block title %}
		{{project.name}} - Test Releases
	{% endblock %}

	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
		<li class="breadcrumb-item">{{ project.name }}</li>	
	{% endblock %}

	{% block content %}
		<h3>{{project.name}}</h3><br>
		<p style="font-size:100%;">Select a Test Release from the list below:</p>
		<table class="table">
			<thead class="thead-inverse" style="background-color:grey; color:white;">
				<tr>
					<th>	Releases</th>
					<th style="width:600px">Description</th>
					<th style="width:300px">Created On</th>
				</tr>
			</thead>
			<tbody>
				{% if not project.testplans.all %}
					<tr>
						<td>
						<p>No Test Releases are added for this project.<p>
						</td>
					</tr>
				{% else %}
					{% for testplan in testplans %}
						<tr>
							<td><a href="{% url 'testplan_testcycles' project.pk testplan.pk %}">{{testplan.name}}</a></td>
							<td>{{testplan.description}}</td>
							<td>{{testplan.created_at}}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table><br>
		<div class="mt-3">
            <a href="/admin/reports/testplan/add/" class="btn btn-primary" style="position:right">Add Test Release</a>
        </div>
	{% endblock %}