{% extends 'base.html' %}
	{% block title %}Projects{% endblock %}

	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item">Projects</li>
	{% endblock %}

	{% block content %}
		<br>
		<div class="mt-3">
			<a href="/admin/reports/project/add/" class="btn btn-primary">Add Project</a>
        </div>
		<br>
		<p style="font-size:120%;">Select a Project from the list below:</p>
		<table class="table">
			<thead class="thead-inverse" style="background-color:grey; color:white;">
				<tr>
					<th>Projects</th>
					<th style="width: 620px;">Description</th>
					<th>Scripting Lanaguage</th>
					<th> Tools Used</th>
				</tr>
			</thead>
			<tbody>
				{% if not projects %}
					<tr>
						<td>
						<p>No Projects are added.<p>
						</td>
					</tr>
				{% else %}
					{% for project in projects %}
						<tr>
							<td><a href="{% url 'project_testplans' project.pk %}">{{project.name}}</a></td>
							<td>{{project.description|truncatewords:30}}  
								<small class="text-muted"><a href="{% url 'about' project.pk %}">more</a></small>
							</td>						
							<td align="left">&ensp;{{project.scripting_language}}</td>
							<td align="left">&ensp;{{project.tools}}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	{% endblock %}