{% extends 'base.html' %}
	{% block title %}
		{{ testcycle.testplan.name }} - {{ testcycle.name }} Report
	{% endblock %}
	
	{% block scripts %}
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	  <script type="text/javascript">
		google.charts.load('current', {packages: ['corechart']});
		google.charts.setOnLoadCallback(drawChart1);
		google.charts.setOnLoadCallback(drawChart2);
		google.charts.load('current', {'packages':['line']});
		google.charts.setOnLoadCallback(drawChart3);
		google.charts.setOnLoadCallback(drawChart4);
		google.charts.load('current', {packages: ['corechart', 'bar']});
		google.charts.setOnLoadCallback(drawChart5);

		$(document).ready(function() {
			$("7").on("click", function() {
				drawChart();
			});
		});

		function drawChart1() {
		  // Define the chart to be drawn.
		  var data = new google.visualization.DataTable();
		  data.addColumn('string', 'Element');
		  data.addColumn('number', 'Percentage');
		  data.addRows([
			['Pass', {{latest_report.pass_count}}],
			['Fail', {{latest_report.fail_count}}],
			['No Run', {{latest_report.norun_count}}]
		  ]);
		  
			var options = {'title':'Status Report',
						   'width':600,
						   'height':400,
						   colors: ['#28a31d', '#e0440e', '#ffc300']
						   };

			// Instantiate and draw the chart.
			var chart = new google.visualization.PieChart(document.getElementById('myPieChart1'));
			chart.draw(data, options);
		}
		
		function drawChart2() {
		  
		  var data = new google.visualization.DataTable();
			data.addColumn('string', 'Topping');
			data.addColumn('number', 'Slices');
			data.addRows([
			  ['False Validation', 0.4],
			  ['Script Problem', 0.1],
			  ['Environment', 0.2],
			  ['Force Stop', 0.1],
			  ['Dont Know', 0.2]
			]);

			// Set chart options
			var options = {'title':'Failure Reason',
						   'width':600,
						   'height':400};
		

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('myPieChart2'));
			chart.draw(data, options);
		}
		
		function drawChart3() {

			  var data = new google.visualization.DataTable();
			  data.addColumn('number', 'Timelines');
			  data.addColumn('number', 'Scripts Count');
			  ticks_array = [];
			  var i=1;
			  {% for report in all_req_reports %}
				data.addRows([
					[i,  {{report.total_testcases}}],
				]);
				ticks_array.push(i);
				i=i+1;
			  {% endfor %}
			  var options = {
				
				vAxis:{
					viewWindow: { min: 0 },		
				},
				hAxis:{
					viewWindow: { min: 0 },	
					ticks: ticks_array,
				},
				width: 520,
				height: 262,
				legend: { position: 'top' }
			  };

			  var chart = new google.charts.Line(document.getElementById('linechart_material1'));

			  chart.draw(data, google.charts.Line.convertOptions(options));
			}


		function drawChart4() {
		
			  var data = new google.visualization.DataTable();
			  data.addColumn('number', 'Timelines');
			  data.addColumn('number', 'Pass');
			  data.addColumn('number', 'Fail');
			  var ticks_array = [];
			  var i=1;
			  {% for report in all_req_reports %}
				data.addRows([
					[i,  {{report.pass_count}}, {{report.fail_count}}],
				]);
				ticks_array.push(i);
				i=i+1;
				
			  {% endfor %}


			var options = {

			  hAxis: {
				title: 'Timelines',  titleTextStyle: {color: '#333'},
				ticks: ticks_array,
			  },
			  vAxis: {minValue: 0},
			  width:600,
			  height:300,
			  colors: ['#28a31d', '#e0440e']
			};

			var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		  }
		  
		  
		function drawChart5	() {
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Release');
			  data.addColumn('number', 'Pass');
			  data.addColumn('number', 'Fail');
			  data.addColumn('number', 'No Run');

				  {% for report in reports_list %}
					data.addRows([
						["{{report.testcycle.testplan.name|safe}}", {{report.pass_count}}, {{report.fail_count}}, {{report.norun_count}}],
					  ]);
				  {% endfor %}

			  var options = {
				title: '',
				isStacked: true,
				hAxis: {
				  title: 'Releases',
				},
				vAxis: {
				  title: 'Scripts'
				},
				bar: {
				  groupWidth: 90
				},
				colors: ['SeaGreen', '#e0440e', '#ffc300']
			  };

			  var chart = new google.visualization.ColumnChart(document.getElementById('bar_chart'));
			  chart.draw(data, options);
			}

	  </script>
	{% endblock %}

	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project_testplans' testcycle.testplan.project.pk %}">{{ testcycle.testplan.project.name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'testplan_testcycles' testcycle.testplan.project.pk testcycle.testplan.pk %}">{{ testcycle.testplan.name }}</a></li>
		<li class="breadcrumb-item">{{ testcycle.name }}</li>
	{% endblock %}

	{% block content %}
		<h3>Automation Report :&ensp;{{testcycle.name}}</h3>
		<!--<div align="right">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
				<input type="file" name="myfile" accept="application/xml">
				<button type="submit" class="btn btn-primary">Upload</button>
		</form>
		{% if msg != None %}
			<p style="color:red">{{msg}}</p>
		{% endif %}
		</div>-->
		<br><hr>
		{% if not latest_report %}
			<b>Project :</b>&ensp;{{testcycle.testplan.project.name}}<br>
			<b>Test Plan :</b>&ensp; {{testcycle.testplan.name}}<br><br><br>
			<h4 style="color:Red;">No {{testcycle.name}} Report available for {{testcycle.testplan.project.name}} - {{testcycle.testplan.name}} release.</h4>
			<br>
			<hr>
		{% else %}
			<b>Project :</b>&ensp;{{testcycle.testplan.project.name}}<br>
			<b>Test Plan :</b>&ensp; {{testcycle.testplan.name}}<br><br>
			<b>Last Run :</b>&ensp;{{latest_report.last_executed}}<br>
			<b>Scripts Count :</b>&ensp;{{latest_report.total_testcases}}<br>
			<b>Duration :</b>&ensp;{{latest_report.duration}}<br>
			<b>Build Iteration# :</b>&ensp;{{all_reports_count}}<br>
			<br>
			<hr>
			<h3><u>Status</u> :&ensp;</h3>
			{% if not latest_report.detailed_report %}
				<div align="right">View Detailed Report -></div>
			{% else %}
				<div align="right"><a href="{% url 'detailed_report' project.pk testcycle.testplan.pk testcycle.pk %}" target="_blank">View Detailed Report -></a></div><br><br>
			{% endif %}
			
			<div class="piechart">
				<table class="columns">
				<tr>
					<th style="width:900px"></th>
					<th style="width:250px"></th>
				</tr>
				<tr>
					<!-- Identify where the chart should be drawn. -->
					<td align="center"><div id="myPieChart1"></div></td>
					<td></td>
					<!---<td><div id="myPieChart2"></div></td>--->
				</tr>
				</table>
			</div>
			<hr>
			
			{% if all_req_reports_count > 1 %}
				<h3><u>Trends</u> :&ensp;Last {{requested_builds}} builds</h3>
				<br>
				<form action="" method="get">
					<button type="submit" class="btn btn-primary" name="5 builds">Last 5 builds</button>&ensp;<button type="submit" class="btn btn-primary" name="10 builds">Last 10 builds</button>&ensp;<button type="submit" class="btn btn-primary" name="20 builds">Last 20 builds</button>&ensp;
				</form>

				<br><br><br>

				<div class="linecharts">
					<table class="columns">
						<tr>
							<td><h5>Scripts count</h5><br><div id="linechart_material1"></div></td>
							<td><br><h5>&emsp;&emsp;&emsp;&emsp;&emsp;Execution Status</h5><div id="chart_div" align="center"></div></td>
						</tr>
					</table>
				</div>
			{% else %}
				<h3><u>Trends</u> :<br><br>
				<h4 style="color:Brown;">No Trends available as this is the first <u>{{testcycle.name.upper}}</u> report.</h4><br><br><br>
			{% endif %}
			<br><br><hr><br>
			<h3><u>Compare {{testcycle.name}} result across releases</u>  :</h3>
			<br>
			<div>
				{% if available_testplans_list_for_comp %}
					<form action="" method="get">
						<table>
							<tr>
								<td>Select a release(s) from the list:&emsp;</td>
								<td>
									
									<select name="previous_releases_list" multiple="multiple" class="select-multiple-field" size="3" style="width:120%">
										
										{% for testplan in available_testplans_list_for_comp %}
											<option value="{{testplan.pk}}" multiple="multiple" {% if compared_testplan.pk == testplan.pk %}selected {% endif %}>{{testplan.name}}</option>
										{% endfor %}
									</select>
								</td>							
								<td>&emsp;&emsp;&emsp;<button type="submit" class="btn btn-primary" name="comparereleases">Compare</button></td>
							</tr>
						</table>
					</form><br>
				{% else %}
					<br>
					<h4 style="color:Brown;">No graph available as "<u>{{testcycle.testplan.name}}</u>" is the only test release available in dashboard for {{project.name}}.</h4><br><br><br>
				{% endif %}
				
				{% if reports_list_count > 1 %}
					<div id="bar_chart" style="width: 700px; height: 400px;"></div>
				{% endif %}
			</div>
			<br><br><br><br><br><br><br>
		{% endif %}
	{% endblock %}