{% extends 'base.html' %}
{% load static %}
	{% block title %}Projects Status{% endblock %}

	{% block scripts %}
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	  <script type="text/javascript">
		
		google.charts.load('current', {packages: ['corechart', 'bar']});
		google.charts.setOnLoadCallback(drawStacked);


		function drawStacked() {
			
			var data = new google.visualization.DataTable();
				  data.addColumn('string',  'Project');
				  data.addColumn('number', 'Automated');
				  data.addColumn('number', 'Yet to be Automated');
				  {% for project in projects %}
					data.addRows([
						["{{project.name|safe}}", {{project.automated_testcases}}, {{project.total_automatable_testcases}} - {{project.automated_testcases}}],
					  ]);
				  {% endfor %}

		  var options = {
			isStacked: 'percent',
			hAxis: {
			  title: ' ',
			},
			vAxis: {
			  title: 'Total Automatable Test scenarios'
			},
			colors: ['MediumSeaGreen', 'lightgrey'],
			legend: { position: 'bottom' },
			{% if projects_count < 5 %}
				bar: {
					  groupWidth: 100
					},
			{% endif %}
		  };

		  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		  chart.draw(data, options);
		}
		
	  </script>
	{% endblock %}
	
	
	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item">Status</li>
	{% endblock %}

	{% block content %}
		<br><br>
		<div align="center">
			<h2><u>Automation Status</u></h2>
			<div id="chart_div" style="width: 1150px; height: 500px;"></div>
		</div>

	{% endblock %}