{% extends 'base.html' %}
	{% block title %}
		{{ testplan.name }} - Test Cycles
	{% endblock %}

	{% block breadcrumb %}
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Projects</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project_testplans' testplan.project.pk %}">{{ testplan.project.name }}</a></li>
		<li class="breadcrumb-item">{{ testplan.name }}</li>
	{% endblock %}

	{% block content %}
		<h3>{{testplan.project.name}} -> Release: {{testplan.name}}</h3><br>
		<p style="font-size:100%;">Select a Test Cycle from the list below:</p>
		<table class="table">
			<thead class="thead-inverse" style="background-color:grey; color:white;">
				<tr>
					<th>Test Cycles</th>
					<th>Last Run</th>
				</tr>
			</thead>
			<tbody>
				{% if not testplan.testcycles.all %}
					<tr>
						<td>
						<p>No Test cycles are added for this release.<p>
						</td>
					</tr>
				{% else %}
					{% for attribute in testcycle_attributes %}
						<tr>
							<td><a href="{% url 'report' attribute.0.testplan.project.pk attribute.0.testplan.pk attribute.0.pk %}">{{attribute.1}}</a></td>
							
							<td>{{attribute.2}}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
		<div class="mt-3">
			<a href="{% url 'new_testcycle' testplan.project.pk testplan.pk %}" class="btn btn-primary">Add Test Cycle</a>
		</div>
	{% endblock %}